$mainbg: #000000
$grey: #434343
$bluegrey: #171e24
$green: #2ea43a
$white: #efefef
$item-bg: #111111

body
  font-family: sans-serif
  background-color: $mainbg
  color: $white

.bluegrey
  background-color: $bluegrey

header
  background-color: $mainbg

#nav
  background-color: $grey
  height: 50px
  font-size: 1.25rem

#nav a, #nav a:hover
  color: $white
  text-decoration: none

#movies
  display: flex
  flex-direction: row
  justify-content: space-around
  width: 100%
  background-color: $bluegrey
  min-height: 20rem
  height: auto

.item
  width: 50%
  min-height: 250px
  height: auto
  background-color: $item-bg

.item > *
  margin: 0.5rem

h4.like
  float: left
  margin-right: 0.5rem

h4.like a
  color: $green

h4.like a:hover
  text-decoration: none

.likeInfo
  float: left
  width: 3.5rem
  height: 3.5rem
  border-radius: 1.75rem
  margin-left: 0.5rem
  background-color: $green
  color: $white
  font-size: 30px
